main> .container {
  padding: 60px 15px 0;
}
.header{
  display: flex;
  width: 100%;
  height: 80px;
}
.header__left{
  width: 10%;
}
.header__right{
  width: 71%;
}
.navbar-brand{
  width: 9%;
  font-size: 25px;
}
.search{
  width: 97.333333%;
}
.user{
  width: 30%;
}
.row-settings{
  color: white;
}
.settings{
  margin-top: 4px;
}
img{
  padding: 7px;
  height: 56px;
  width: 56px;
}
/*.container{
  display: flex;
  min-height: calc(100vh - 80px);
}*/
.sidebar{
  margin-top: 80px;
  padding-left: 54px;
}
.footer{
  width: 100%;
  height: 60px;
  background-color: pink;
}
.headline-sidebar{
  margin-left: 8px;
}
.container-tags{
margin-left: 10px;
margin-top: 17px;
margin-bottom: 56px;
}
.sidebar-tags{
  margin-block: 15px;
  font-size: 20px;
}
.container-members {
  font-size: 20px;
  margin-left: 0px;
}

.sidebar-members {
  margin-bottom: 15px;
}
