
  <header>
    <div class="header__left">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
<div class="col col-md-3 navbar-brand">
          <a class="navbar-brand" href="#">AskLenkova</a>
          </div>
          <div class="header__right">
            <form class="d-flex col col-md-4 search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">ASK!</button>
            </form>
              </div>
            <div class="user-container col col-md-2">
                <div class="row">
                  <div class="col">
                  <span class="settings">
                    <div class="row">
                      <div class="col col-md-4 settings">
                        <a href="login.html">log in</a>
                      </div>
                      <div class="col settings">
                        <a href="signup.html">register</a>
                      </div>
                    </div>
                </span>
                </div>
                </div>
        </div>
      </nav>
      </div>
  </header>
