{% load static %}

<div class="row question">
  <div class="col-3">
    <div class="col"><img src="{% static "img/200.jpg" %}"></div>
    <div class="col">
      <div class="vote-topic-wrapper">
        <div class="vote-topic vote-self vote-count-zero">
          <button class="vote-btn vote-down" data-direction="minus">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </button>
          <input type="text" value="{{ question.rating }}" class="vote-count">
          <button class="vote-btn vote-up" data-direction="plus">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row row-cols-1">
      <div class="col">
        <a href="{% url 'question' pk=question.id %}">
          <h2> {{ question.title }} </h2>
        </a>
        <div> {{ question.content }} </div>
      </div>
      <div class="row row-cols-2 answer">
        <div class="col-3">
          <a href="{% url 'question' pk=question.id %}">answer (3)</a>
        </div>
        <div class="col-6">
          Tags:
          {% for tag in question.tags.all %}
          <a href="{% url 'tag' tag %}" class="black-jeck">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer_question">
    </div>
</div>
