.input_form {
  margin-top: 7px;
}

.ask_form {
  margin-top: 4%;
  font-size: 20px;
}

.input_button {
  margin: 20px;
  margin-left: 2px;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 5px;
  margin-bottom: 373px;
}

.form-control {
  width: 99%;
  margin-right: auto;
  margin-left: auto;
}
