main>.container {
  padding: 60px 15px 0;
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
}

.header__left {
  width: 10%;
}

.header__right {
  width: 71%;
}

.navbar-brand {
  width: 9%;
  font-size: 25px;
}

.search {
  width: 97.333333%;
}

.user {
  width: 30%;
}

.row-settings {
  color: white;
}

.settings {
  margin-top: 4px;
}

.user-container img {
  padding: 7px;
  height: 56px;
  width: 56px;
}

.sidebar {
  margin-top: 80px;
  padding-left: 54px;
}

.footer {
  position: static;
  /* Фиксированное положение */
  left: 0;
  bottom: 0;
  /* Левый нижний угол */
  padding: 10px;
  /* Поля вокруг текста */
  background: #0d6efd;
  /* Цвет фона */
  color: #fff;
  /* Цвет текста */
  width: 100%;
  /* Ширина слоя */
}

.headline-sidebar {
  margin-left: 8px;
}

.container-tags {
  margin-left: 10px;
  margin-top: 17px;
  margin-bottom: 56px;
}

.sidebar-tags {
  margin-block: 15px;
  font-size: 20px;
}

.container-members {
  font-size: 20px;
  margin-left: 0px;
}

.sidebar-members {
  margin-bottom: 15px;
}

.title {
  margin: 20px;
}

.question {
  border: 1px grey solid;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
}

.question img {
  width: 115px;
  height: 115px;
}

.vote-topic-wrapper {
  display: inline-block;
  padding: 14px 0 0;
  margin-left: auto;
  margin-right: auto;
}

.vote-topic-wrapper .vote-topic {
  align-items: center;
  display: flex;
}

.vote-topic-wrapper .vote-down {
  cursor: pointer;
  font-size: 16px;
}

.vote-topic-wrapper {
  font-size: 2px;
  line-height: 22px;
  margin-left: 8px;
  margin-right: 8px;
}

.vote-count {
  font-size: 14px;
  width: 30px;
  text-align: center;
}

.vote-topic-wrapper .vote-up {
  cursor: pointer;
  font-size: 16px;
}

.answer {
  margin-top: 25px;
}

.question-title {
  margin-bottom: auto;
  margin-top: auto;
}

.head {
  margin-bottom: 35px;
  margin-top: 5px;
}

.btn-primary {
  margin-right: 5px;
}

.que_form {
  margin-left: 57px;
}

.error {
  color: red;
}

.footer_question{
      margin-left: 390px;
}

.head_question{
  margin: 10px;
}

.head_que {
  margin-top: 70px;
  margin-left: 30px;
}
