{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block link %}
<link rel="stylesheet" href="{% static "css/ask.css" %}">
{% endblock link %}
{% block content %}
<div class="col-3.5 head">
  <h1>New Question</h1>
</div>
  <form class="ask_form" method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
         <input required type="submit" class="btn-primary input_button" value="ASK!">
           {% endbuttons %}
</form>
{% endblock content %}
{% block linkjs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script type="text/javascript" src="{% static "js/ask.js" %}"></script>
{% endblock linkjs %}
