{% extends "include/base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
{% endblock link %}
{% block content %}
<div class="row head">
  <div class="col-7">
    <a href="{% url 'index' %}">
      <h1>New Questions</h1>
    </a>
  </div>
  <div class="col question-title">
    <a href="{% url 'hot' %}">Hot Questions</a>
  </div>
</div>
{% for question in content %}
{% include "include/question.html" %}
{% endfor %}
{% endblock content %}
{% block pagination %}
{% include "include/pagination.html" %}
{% endblock pagination %}
{% block linkjs %}
<script src="{% static "js/counter.js" %}"></script>
{% endblock linkjs %}
