{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block link %}
<link href="{% static "css/question.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
{% endblock link %}
{% block content %}
<div class="col-3 head_question">
</div>
<div class="row question-list">
  <div class="col-2">
    <div class="col"><img src="{{ question.author.avatar }}"></div>
    <div class="col">
      <div class="vote-topic-wrapper">
        <div class="vote-topic vote-self vote-count-zero">
          <button class="vote-btn vote-down" data-direction="minus">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </button>
          <input type="text" value="0" class="vote-count">
          <button class="vote-btn vote-up" data-direction="plus">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row-cols-1 que_form">
      <div class="col">
        <div class="head">
        <h2>{{ question.title }}</h2>
        <div> {{ question.text }}</div>
        <div class="row row-cols-2 answer">
          <div class="col-6">
            Tags:
            {% for tag in question.tags.all %}
            <a href={% url 'tag' tag %}>{{ tag.name }} </a>
            {% endfor %}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height:20px;
width:840px;
margin-top:10px;
border-top:1px solid #9EC1D4;">
  </div>
</div>
{% for answer in content %}
{% include "include/answer.html" %}
{% endfor %}
<div style="height:20px;
width:840px;
border-top:1px solid #9EC1D4;
margin-left: -11px;
margin-top:20px;
padding-bottom: 20px;">
</div>
   {% if request.user.is_authenticated %}
  <div class="row-8">
    <form class="form mt-5" method="POST" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary ask_button">Answer</button>
{% endbuttons %}
</form>
  </div>
  {% endif %}
{% endblock content %}
{% block pagination %}
{% include "include/pagination.html" %}
{% endblock pagination %}
{% block linkjs %}
<script src="{% static "js/counter.js" %}"></script>
{% endblock linkjs %}
