{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block link %}
<link rel="stylesheet" href="{% static "css/settings.css" %}">
{% endblock link %}
{% block content %}
<div class="col-3 head">
  <h1>Settings</h1>
</div>
<form class="form mt-5" method="POST" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
    {% buttons %}
  <button class="btn btn-primary save" type="submit">Save</button>
  {% endbuttons %}
    </form>
{% endblock content %}
