{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block link %}
<link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock link %}
{% block content %}
<div class="col-3 head">
  <h1>Registration</h1>
</div>
<div class="signup">
  <form role="form" class="login_form" action="{% url 'signup' %}" method="POST" novalidate>
    {% csrf_token %}
{% for error in error_message %}
        <p class="error_log_message">{{ error }}</p>
    {% endfor %}
            {% bootstrap_form form %}
            {% buttons %}
        <input required type="submit" class="btn btn-outline-secondary form_log" value="Sign up">
                  {% endbuttons %}

  </form>
</div>
{% endblock content %}
{% block linkjs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script type="text/javascript" src="{% static "js/signup.js" %}"></script>
{% endblock linkjs %}
