{% extends "include/base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock link %}
{% block header %}
{% include "include/navbar_guest.html" %}
{% endblock header %}
{% block content %}
<div class="col-3 head">
  <h1>Registration</h1>
</div>
<div class="signup">
  <form id="register">
    <input type="text" class="form-control" name="login" placeholder="Login" />
    <br>
    <input type="email" class="form-control" name="email" placeholder="Email" />
    <br>
    <input type="text" class="form-control" name="nickname" placeholder="NickName" />
    <br>
    <input type="password" class="form-control" name="password" placeholder="Password" id="password" />
    <br>
    <input type="password" class="form-control" name="confirm" placeholder="Confirm Password" />
    <br>
    <div><label for="g5" class="avatar">Upload your avatar:</label><br><input required type="file" id="g5" name="img0" onchange="imgVal(this,10485760);" /><output id="outImg0"></output></div>
    <input required type="submit" value="Sign up">
  </form>
</div>
{% endblock content %}
{% block linkjs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script type="text/javascript" src="{% static "js/signup.js" %}"></script>
{% endblock linkjs %}
